Repository sapphiredev/pieces, pull requests merged in 2020-12, with the labels that each got.

#29 feat: pieces v2!
  .gitignore
  package.json
  scripts/make-import.mjs
  src/index.ts
  src/lib/Piece.ts
  src/lib/Store.ts
  src/lib/errors/LoaderError.ts
  src/lib/internal/import.d.ts
  src/lib/strategies/ILoaderStrategy.ts
  src/lib/strategies/LoaderStrategy.ts
  src/lib/strategies/filters/IFilter.ts
  src/lib/strategies/filters/LoadJavaScript.ts
  src/lib/strategies/loaders/ILoader.ts
  src/lib/strategies/loaders/LoadMultiple.ts
  src/lib/strategies/loaders/LoadSingle.ts
  tsconfig.eslint.json
Labels: Meta: Feature, Meta: Refactor, SEM: Major, Status: Review Ready

#30 feat(*): output type declerations to a single .d.ts file
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  package.json
  rollup.config.ts
  scripts/clean-dist.mjs
  scripts/make-import.mjs
  scripts/pre-publish.mjs
  src/lib/internal.d.ts
  src/lib/strategies/LoaderStrategy.ts
  tsconfig.eslint.json
  yarn.lock
Labels: Meta: Feature, Priority: Medium, SEM: Major

#31 chore: chorey chores
  .github/workflows/codeql-analysis.yml
  .prettierrc
  package.json
  yarn.lock
Labels: Meta: Github

#36 feat(piece): rename disable to unload, add reload
  src/lib/Piece.ts
Labels: Meta: Feature, SEM: Major

#37 feat: added ILoaderStrategy#onLoadAll, renamed onPostLoad to onLoad
  src/lib/Store.ts
  src/lib/strategies/ILoaderStrategy.ts
  src/lib/strategies/LoaderStrategy.ts
Labels: Meta: Feature, Meta: Refactor, SEM: Major

#38 feat: added smarter root and type detection
  scripts/make-import.mjs
  src/index.ts
  src/lib/internal/RootScan.ts
  src/lib/internal/internal.d.ts
  src/lib/strategies/ILoaderStrategy.ts
  src/lib/strategies/LoaderStrategy.ts
  src/lib/structures/AliasPiece.ts
  src/lib/structures/AliasStore.ts
  src/lib/structures/Piece.ts
  src/lib/structures/Store.ts
Labels: Meta: BugFix

#39 fix(store): call unload when onLoad disables the piece
  src/lib/structures/Store.ts
Labels: Meta: BugFix
